[tool.ruff]
target-version = "py311"

[tool.ruff.lint]
select = [
  "E4",
  "E7",
  "E9",
  "F",
  "I",
  "S",
]

ignore = [
  "E501",
]

[tool.pytest.ini_options]
testpaths = ["tests/python"]

[tool.coverage.run]
source = ["scripts"]
branch = true
omit = [
    "scripts/tests/*",
]

[tool.coverage.report]
include = [
    "scripts/*.py",
]
exclude_also = [
    "if __name__ == .__main__.:",
    "raise NotImplementedError",
]
show_missing = true
fail_under = 20
